<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/pinglun" method="get">
    <h1>发表评论</h1>
    你的大名：<input type="text" name="name" placeholder="请输入名字" required minlength="2" maxlength="10" id="input_name">
    留言内容2： <textarea name="message" id="textarea_message" required minlength="5" maxlength="20"></textarea>
    <button type="submit">发表</button>
</form>
</body>
</html>